#main-portfolio {
  margin-top: 20px;
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #portfolio-container {
    .portfolio {
    }
    .portfolio-item {
      img {
        max-width: 100%;
      }
    }
  }
  /* ---- grid ---- */
  .grid {
    width: 100%;
  }

  /* clearfix */
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */

  .grid-item {
    width: 160px;
    height: 120px;
    float: left;
    background: #d26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
  }

  .grid-item--width2 {
    width: 320px;
  }
  .grid-item--width3 {
    width: 480px;
  }
  .grid-item--width4 {
    width: 720px;
  }

  .grid-item--height2 {
    height: 200px;
  }
  .grid-item--height3 {
    height: 260px;
  }
  .grid-item--height4 {
    height: 360px;
  }

  /* ---- static-banner ---- */

  .static-banner {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px 30px;
    color: white;
    background: #a2c;
    font-size: 22px;
    z-index: 2; /* above items */
  }
}
