@media screen and (max-width: 700px){

}
@media screen and (max-width: 1000px){
    #banner{
        #banner-text-1{
            font-size: 20px;
        }
    }
        
    #fotos-conferencia{
        #fotos{
            columns: 2;
        }
    }
        
}
@media screen and (max-width: 1080px){
    #mensagem-dcf{
        .row{
            max-width: 60%;
            margin: 0 auto;
        }
    }
}