@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "FuturaPT Demi";
  src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}

@font-face {
  font-family: "FuturaPT Heavy";
  src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
input,
button {
  outline: none;
}

$menuheight: 120px;
$basemargin: 20px;
$basepadding: 20px;
$dark: #231f20;
.container {
  max-width: 1200px;
}

.title-site {
  font-weight: bold;
  font-family: "FuturaPT Heavy";
  font-size: 40px;
  color: $dark;
}

body {
  #main-portfolio {
    margin-top: 20px;
  }
}
#main-header {
  position: relative;
  z-index: 1;
  font-family: "FuturaPT Demi";
  background: #000;
  height: 100px;
  position: relative;
  z-index: 99;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(42, 95, 114, 1) 50%,
    rgba(42, 95, 114, 1) 50%,
    rgba(42, 95, 114, 0) 100%
  );
  margin-top: $menuheight - 100;
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  #main-menu {
    ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      height: 100%;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  #main-social {
    display: flex;
    list-style: none;
    flex-direction: row;
    ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      height: 100%;
      list-style: none;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        a {
          img {
          }
        }
      }
    }
  }
}

#main-banner {
  margin-top: -$menuheight;
  .item {
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
  }
}

#main-portfolio {
  display: flex;
  .container {
    display: flex;
    justify-content: space-between;
  }
  a.ver-todos {
    color: $dark;
  }
}

#main-clientes-parceiros {
  .container {
  }
}
@import "mobile";
