@import '~bootstrap/scss/bootstrap.scss';
@font-face {
    font-family: "Blanka";
    src: url("../fonts/Blanka-Regular.otf") format("opentype");
}
@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro.otf") format("opentype");
}
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
$cinza: #747474;
$cinza-claro: #757575;
$verde-claro: #00FF79;
html{
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height:100%;
    min-height:100%;
}
body{
    background: transparent;
    min-height:100%;
}

header{
    padding-top: 2rem;
}

    #menu{
        max-width: 1400px;
        .logo img{
            padding-top: 7px;
            width: 10rem;
        }
        ul{
            display: inline-flex;
            padding: 0px;
            margin: 0px;
            li{
                margin-top: 2.5rem;
                list-style: none;
                a{
                    padding: 2rem 2rem;
                    text-transform: uppercase;
                    color: #747474;
                    transition: all .1s ease-in;
                    &:hover{
                        text-decoration: none;
                        color: #00FF79;
                    }
                }
                &:nth-child(2n+1) {
                    a{
                        border-top: solid 8px #00FF79;
                        transition: all .1s linear;
                        &:hover{
                            color: #00FF79;
                        }
                    }
                }
                &:nth-child(2n+2) {
                    a{
                        border-bottom: solid #00FF79 8px;
                        &:hover{
                        }
                    }
                }
                &:last-child(){
                    a{
                        &:hover{

                        }
                    }

                }
            }
        }
    }
    #banner{
        margin-top: .6rem;
    }
    #video{
        iframe{
            width: 80%;
            height: 600px;
            margin: 0 auto;
        }
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    #mensagem-dcf{
        background: url('../img/site/banner-texto.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        height:75vh;
        min-height:100%;
        .row{
            padding: 0rem 4rem;
            height: 100%;
            p{
                line-height: 2rem;
                font-family: DINPro;
                font-size: 20px;
                color: #FFF;
            }
        }
    }
    #contagem{
            #loading{
                margin-bottom: 2rem;
                .progress-bar{
                    background-color: $verde-claro;
                }
        }
    }
    #detalhes{
        padding-top: 4rem;
        padding-bottom: 10rem;
    }

    #convidados{
        #palestrantes{
            columns: 4;
            max-width: 80%;
            margin: 0 auto;
            .palestrante__perfil{
                img{
                    width: 10rem;
                }
                &.andre{
                    img{
                        width: 12rem;
                    }
                }
                &.teo{
                    img{
                        width: 15rem;
                    }
                }
                &.luma{
                    img{
                        width: 12rem;
                    }
                }
                
                &.rebeca{
                    img{
                        margin-top: 20px;
                        width: 10rem;
                    }
                }
                &.alisio{
                    img{
                        width: 12rem;
                    }
                }
            }
        }
    }
    #bandas{
        background: url('../img/site/banner-bandas.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        height:75vh;
        min-height:100%;
        .owl-lazy{
            width: 20rem;
        }
    }
    #perguntas{
        margin-top: 8rem;
        padding-bottom: 4rem;
        .row{
            max-width: 80%;
            margin: 0 auto;
        }
        .item{
            text-align: center;
        }
    }
    #caravanas{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    #fotos-conferencia{
        margin-top: 4rem;
        margin-bottom: 4rem;
        #fotos{
            margin-top: 4rem;
            display: inline-block;
            columns: 5;
            img{
                margin: 0px;
                margin-bottom: 1rem;
            }
        }
    }
    
@import 'mobile';